@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
}

html {
  background: linear-gradient(to right, #28313b 0%, #485461 100%);

  place-content: center;
}
h1 {
  font-size: 6vh;
}
* {
  color: white;
  font-family: "Caveat Brush", cursive;
}
section {
  height: 60vh;
}

.skill {
  background-color: lightslategray;
  width: 9vh;
  height: 9vh;
  border-radius: 2vh;
  margin-left: 1vh;
  padding: 1vh;
  transition: transform 250ms;
  z-index: 10;
  display: inline-block;
  position: relative;
}
.skill:hover {
  transform: translateY(-5vh);
}
.skill:active {
  transform: translateY(-6vh);
}
.skill img {
  width: 9vh;
}
.skills {
  place-content: center;
  display: flex;
}
.level {
  font-size: 1.9vh;
  z-index: -10;
  position: relative;
  transform: translateY(11vh);
}
.text {
  font-size: 3vh;
  margin: 20px;
}
a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 2.5vh;
}
a:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.icon::after {
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  .scroll {
    display: flex;
    width: 50vh;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
}
